.item-empresa {
    padding: 1rem;
}

.item-empresa .card-text{
    margin-bottom: 0.35rem;
}

.ordenar-lista {
    list-style: none;
    padding-left: 0px;
    font-size: 90%;
}
.publicidade-topo{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 140px;
}

.pesquisa-inicial{
    background: url("../img/cidade.jpg") no-repeat center; 
    opacity: 1.5;
    filter: alpha(opacity=50); /* PARA IE8 ou superiores */
}
.texto-procura{
    padding-right: 15px;
    font-size: 115%;
    font-weight: 500;
    padding-bottom: 5px;
}
.comentarios{
    background: #eee;
    font-size: 90%;
}
.comentarios p{
    margin-bottom: 0px;
}
.item-comentario{
    padding: 15px;
    border-top: 1px solid #ddd;
}
.titulo-comentario{
    background: #eee;
    padding: 15px;
    margin-bottom: 0px;
}
.sugerir-link a{

    color: #010101;
    font-size: 60%
}
.tabela-horario{
    margin-bottom: 0px;
}
.tabela-horario td{
    padding: 0px 1px 0px 1px
}
.lista-home li{
    text-decoration: none;
    list-style: none;
}
.lista-home{
    -webkit-padding-start: 0px;
}
.ver-todas{
    font-size: 80%;
    opacity: 0.7;
    padding-top: 5px;
}
.ver-todas a{
    color: #212529;
}
.ver-todas a:hover{
    text-decoration: none;
}
.footer-site a{
    color: white;
    font-weight: 600;
}
.footer-site h5{
    font-weight: bold;
}
.siga-nos a{
    padding-right: 5px;
}
.siga-nos p{
    margin-top: 15px;
}
.empresas-destaque{
    cursor: pointer;
}
.empresas-destaque a{
    color: #212529
}
.empresas-destaque a:hover{
    text-decoration: none;
}
.redes-view a{
    color: black;
}
.redes-view a:hover{
    text-decoration: none;
}
.jumbotron-anuncio{
    background-color: #e9ecef; 
    padding-top: var(--jumbotron-padding-y); 
    padding-bottom: var(--jumbotron-padding-y); 
    margin-top: 25px;
    margin-bottom: 25px
}
.pesquisa:before{
    background: #193840;
    content: '';
    display: block;
    height: 70px;
    opacity: .5;
    position: absolute;
    width: 740px;
}
.bottom-left{
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: white;
    font-weight: bold;
    font-size: 120%;
}
.bottom-mid{
    position: absolute;
    bottom: 15px;
    left: 340px;
    color: white;
    font-weight: bold;
    font-size: 120%;
}
.bottom-right{
    position: absolute;
    bottom: 15px;
    right: 425px;
    color: white;
    font-weight: bold;
    font-size: 120%;
}
.abaixo{
    font-size: 70%;
}





/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }